<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>My individaul project</title>
</head>
<body>
    <p> Welcome to html</p>
    <form hx-post="/projects" hx-target="#projects" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()" enctype="multipart/form-data">
        <label for="name">Project Name</label>
        <input type="text" name="name">

        <label for="description">Description</label>
        <textarea name="description" rows="5"></textarea>
        <label for="image">Project Image</label>
        <input type="file" name="image" accept="image/*">
        <label for="url">Project URL</label>
        <input type="text" name="url">

        <label for="github_repo">Project Repo</label>
        <input type="text"  name="github_repo">
    <br>
    <button> Add project</button>
        
    </form>

    <ul id="projects" hx-get="/projects" hx-trigger="load" hx-swap="innerHTML">

    </ul>
    
</body>
</html>


